--------------------------
Service Tags
--------------------------
{% for host in vars.hostvars %}
{% if host != '127.0.0.1' %}
{{ host }}: {{ vars['hostvars'][host]['result_servicetag']['stdout_lines'] | join(" ") }}
{% endif %}
{% endfor %}

--------------------------
BIOS Versions
--------------------------
{% for host in vars.hostvars %}
{% if host != '127.0.0.1' %}
{{ host }}: {{ vars['hostvars'][host]['result_biosversion']['stdout_lines'] | join(" ") }}
{% endif %}
{% endfor %}

--------------------------
iDRAC Versions
--------------------------
{% for host in vars.hostvars %}
{% if host != '127.0.0.1' %}
{{ host }}: {{ vars['hostvars'][host]['result_idracversion']['stdout_lines'] | join(" ") }}
{% endif %}
{% endfor %}

--------------------------
MAC Addresses
--------------------------
{% for host in vars.hostvars %}
{% if host != '127.0.0.1' %}
{{ host }}: {{ vars['hostvars'][host]['result_mac']['stdout_lines'] | join(" ") }}
{% endif %}
{% endfor %}


Results
--------------------------

--------------------------
LOM3
--------------------------
{% for host in vars.hostvars %}
{% if host != '127.0.0.1' %}
{{ host }}: {{ vars['hostvars'][host]['result_lom3']['stdout_lines'] | join(" ") }}
{% endif %}
{% endfor %}

--------------------------
Hotspare
--------------------------
{% for host in vars.hostvars %}
{% if host != '127.0.0.1' %}
{{ host }}: {{ vars['hostvars'][host]['result_hotspare']['stdout_lines'] | join(" ") }}
{% endif %}
{% endfor %}


--------------------------
Power Policy
--------------------------
{% for host in vars.hostvars %}
{% if host != '127.0.0.1' %}
{{ host }}: {{ vars['hostvars'][host]['result_power']['stdout_lines'] | join(" ") }}
{% endif %}
{% endfor %}

--------------------------
BIOS Mode
--------------------------
{% for host in vars.hostvars %}
{% if host != '127.0.0.1' %}
{{ host }}: {{ vars['hostvars'][host]['result_biosmode']['stdout_lines'] | join(" ") }}
{% endif %}
{% endfor %}

