------------------------------
Serial Com Mapping
------------------------------
{{ result_serial_mapping | to_nice_json }}
------------------------------
Serial Com Setting
------------------------------
{{ result_serial_comm | to_nice_json }}
------------------------------
Serial External Connector
------------------------------
{{ result_serial_ext_connector | to_nice_json }}
------------------------------
Serial Failsafe Baud
------------------------------
{{ result_serial_failsafe_baud | to_nice_json }}
------------------------------
Serial Terminal Type
------------------------------
{{ result_serial_terminal_type | to_nice_json }}
------------------------------
Serial Redirect After Boot
------------------------------
{{ result_serial_redir_after_boot | to_nice_json }}