--------------------------
BIOS
--------------------------
{% for host in vars.hostvars %}
{% if host != '127.0.0.1' %}
{{ host }}: {{ vars['hostvars'][host]['result_biosversion']['stdout_lines'] | join(" ") }}
{% endif %}
{% endfor %}


--------------------------
Lifecycle Controller
--------------------------
{% for host in vars.hostvars %}
{% if host != '127.0.0.1' %}
{{ host }}: {{ vars['hostvars'][host]['result_lcversion']['stdout_lines'] | join(" ") }}
{% endif %}
{% endfor %}


--------------------------
iDRAC
--------------------------
{% for host in vars.hostvars %}
{% if host != '127.0.0.1' %}
{{ host }}: {{ vars['hostvars'][host]['result_idracversion']['stdout_lines'] | join(" ") }}
{% endif %}
{% endfor %}